{% extends 'base.html' %}
{% block title %}
待辦事項
{% endblock %}
{% block content %}
<h1>ToDoList</h1>
{% for todo in todos %}
{% if not todo.completed %}
<li><span style="color:cadetblue">[{{todo.created}}]</span>
    <a href="{% url 'todo' todo.id %}" style="color:black;text-decoration:underline;">
        {% if todo.completed %}
        <s>{{todo.title}}</s>
        {% else %}
        {{todo.title}}
        {% endif %}
    </a>
    {% if todo.important %}
    <span style="color:red">important</span>
    {% endif %}
</li>
<form action="{% url 'delete-todo' todo.id %}" style="display: inline;">
    <button type="submit" onclick="return confirm('是否刪除?')">刪除</button>
</form>
<form action="{% url 'completed-todo' todo.id %}" style="display: inline;">
    <button type="submit">完成</button>
</form>
{% endif %}
{% endfor %}
{% endblock %}